<div id="main-menu" class="col-sm-9 main-menu">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#">MENU</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Trang chủ</a></li>
                    <li><a href="#">Nạp tiền</a></li>
                    <li><a href="#">Xu hướng</a></li>
                    <li><a href="#">Khuyến mãi</a></li>
                    <li><a href="#">Thương hiệu</a></li>
                    <li><a href="#">Sự kiện</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>
