
<div id="header" class="header">
    <div class="top-header">
        <div class="container">
            <div class="nav-top-links">
                <a class="first-item" href="#"><img alt="phone" src="~/assets/images/phone.png" />00-62-658-658</a>
                <a href="#"><img alt="Liên hệ với chúng tôi" src="~/assets/images/email.png" />Liên hệ với chúng tôi ngay!</a>
            </div>
            <div class="language ">
                <div class="dropdown">
                    <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                        <img alt="Tiếng Việt" src="~/assets/images/vi.png" />Tiếng Việt
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><img alt="English" src="~/assets/images/en.jpg" />English</a></li>
                        <li><a href="#"><img alt="Tiếng Việt" src="~/assets/images/vi.png" />Tiếng Việt</a></li>
                    </ul>
                </div>
            </div>

            <div class="support-link">
                <a href="#">Services</a>
                <a href="#">Support</a>
            </div>
            <div id="user-info-top" class="user-info pull-right">
                <div class="dropdown">
                    <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span>Tài khoản của tôi</span></a>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <ul class="dropdown-menu mega_dropdown" role="menu">
                            <li><a href="@Url.Action("Login", "Account")">Đăng nhập</a></li>
                            <li><a href="#">So sánh</a></li>
                            <li><a href="#">Yêu thích</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="dropdown-menu mega_dropdown" role="menu">
                            <li><a href="@Url.Action("Logout", "Account")" >Đăng xuất</a></li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--/.top-header -->
    @Html.Partial("_MainHeader")
  
</div>
<!-- end header -->